@charset "UTF-8";

/*Typical Device Breakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px

*/

@media print {

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) {

    * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0px;
        padding: 0px;
    }
    
    body, html {
        color: black;
    }
    
    header {
        color: white;
        height: 100vh;
        background-image: url("../pexels-danny-meneses-943096.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    
    header > nav {
        background-color: black;
        text-align: end;
        padding: 20px;
        padding-right: 50px;
        
    }
    
    header a {
        color: white;
        text-decoration: none;
        font-weight: bolder;
        padding: 10px;
        border-radius: 5px;
        margin-left: 10px;
    }
    
    .nav:hover {
        transition: 1s;
        font-weight: bolder;
        background-color: rgba(43, 40, 40, 0.267);
    }
    
    div#titulo {
        color: white;
        padding-top: 100px;
        padding-left: 50px;
    }
    
    div#titulo > h1 {
        font-size: 1.8em;
        padding-bottom: 20px;
    }
    
    div#titulo > h2 {
        padding-bottom: 20px;
        font-size: 2.3em;
    }
    
    div#titulo > p {
        font-size: 1.2em;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    
    #linkedin {
        margin-top: 50px;
        padding: 20px;
        border-radius: 50px;  
        background-color: #a05313;
        max-width: max-content;
    }
    
    div#titulo a {
        color: white;
        font-weight: bolder;
    }
    
    main {
        background-color: #111312;
        color: white;
        padding: 100px;
    }
    
    .container {
        display: flex;
        height: max-content;
    }
    
    .description {
        flex: 1;
        padding-right: 20px;
        padding-left: 50px;
    }
    
    .description > h1 {
        font-size: 1.3em;
        color: #a05313;
        margin-bottom: 7px;
    }
    
    .description > h2 {
        font-size: 2em;
        margin-bottom: 60px;
    }
    
    .description > p {
        font-size: 1.2em;
        margin: 30px 0px;
        color: rgba(255, 255, 255, 0.521);
        text-indent: 20px;
        text-align: inherit;
    }
    
    /*
    .contact{
        background-color: rgba(0, 0, 0, 0.199);
        width: max-content;
        padding: 20px;
        border-radius: 10px;
    }
    */
    
    .college {
        font-weight: bolder;
        color: #4CAF50 ;
    }
    
    .passions {
        font-weight: bolder;
        color: #007396;
    }
    
    .mark {
        font-weight: bolder;
        color: #7f52ff;
    }
    
    .image {
        flex: 1;
    }
    
    .image img {
        width: 80%;
        height: auto;
        border-radius: 0px 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);}
    
    .contact {
        margin-top: 100px;
    }
    
    .contact > h1 {
        margin-bottom: 50px;
    }
    
    .contact a {
        margin-right: 30px;
    }
    
    .contact a#linkedin_final {
        color: #0B66C2;
        text-decoration: none;
        font-weight: bold;
        margin-top: 50px;
        padding: 20px;
        border-radius: 50px;  
        background-color: white;
        max-width: max-content;
    }
    
    .contact i #linkedin_final_i {
        color: #0B66C2;
    }
    
    .contact a#github {
        color: black;
        text-decoration: none;
        font-weight: bold;
        margin-top: 50px;
        padding: 20px;
        border-radius: 50px;  
        background-color: white;
        max-width: max-content;
    }
    
    .contact i #github_i {
        color: black;
    }
    
    .contact a#whatsapp {
        color: #39B693;
        text-decoration: none;
        font-weight: bold;
        margin-top: 50px;
        padding: 20px;
        border-radius: 50px;  
        background-color: white;
        max-width: max-content;
    }
    
    .contact i #whatsapp_i {
        color: #39B693;
    }
    
    .links{
        margin-bottom: 70px;
    }
    
    .info > p {
        margin-bottom: 20px;
    }
    
    .skills{
        margin: 50px 0px;
    }
    
    .skills > h1 {
        margin-bottom: 0px;
    }
    
    .skills > h2 {
        text-align: center;
        font-size: 1.5em;
        margin-top: 70px;
        margin-bottom: 30px;
    }
    
    .languages_programming, .markup_languages, .tools1, .tools2, .clouds{
        display: flex;
        justify-content: center;
        align-items: end;
    }
    
    .programming, .markup, .tools_fig, .tools_fig2, .cloud{
        display: inline-block;
        vertical-align: bottom;
        margin: 20px;
    }
    
    figcaption {
        margin-top: 10px;
        text-align: center;
        font-weight: bolder;
    }
    
    figure:hover figcaption {
        transform: translateX(+10px);
        transform: translateY(+5px);
        text-shadow: 2px 2px 2px black;
        transition: 1s;
    }
    
    .skills img{
        width: 150px;
        height: auto;
    }
    
    .tools_fig, .tools_fig2 > img{
        width: 200px;
        height: auto;
    }
    
    .tools_fig {
        margin-bottom: 50px;
    }
    
    .markup, .cloud {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    #opencv{
        width: 120px;
        height: auto;
    }
    
    .observations{
        padding: 10px;
        border-radius: 10px;
        background-color: gray;
        width: max-content;
        margin: auto;
        font-weight: bolder;
        background-color: #1a1d1b;
        margin-top: 20px;
    }
    
    footer {
        text-align: center;
        color: white;
        font-weight: lighter;
        background-color: #262b28;
        padding: 10px;
    }

}